*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:rgb(34, 34, 34);
    text-align:center;
    padding:40px;
}

h1{
    color:rgb(151, 33, 24);
    margin-bottom:40px;
}

.voltar{
    position:fixed;
    top:20px;
    left:20px;

    background:rgb(151, 33, 24);
    color:rgb(217, 217, 217);

    border:2px solid rgb(117, 25, 18);

    border-radius:999px;

    padding:12px 20px;

    cursor:pointer;
}

#envelope{

    width:300px;
    height:220px;

    margin:auto;

    background:rgb(255, 241, 196);

    border-radius:20px;

    display:flex;
    justify-content:center;
    align-items:center;

    cursor:pointer;

    transition:.3s;
}

#envelope:hover{

    transform:scale(1.05);
}

.frente{

    font-size:4rem;
}

.frente p{

    font-size:1rem;
    margin-top:10px;
}

#carta{

    display:none;

    max-width:700px;

    margin:40px auto;

    background:rgb(255, 241, 196);

    border:3px solid rgb(218, 205, 165);

    border-radius:20px;

    padding:40px;

    text-align:left;

    line-height:1.8;
}

#carta h2{

    color: rgb(151, 33, 24);

    margin-bottom:20px;
}

.assinatura{

    margin-top:30px;

    text-align:right;

    font-weight:bold;

    color:rgb(151, 33, 24);
}