.voltar{
    position: fixed;
    top: 20px;
    left: 20px;

    background: rgb(151, 33, 24);
    color: rgb(217, 217, 217);

    border: none;
    border-radius: 15px;

    padding: 12px 20px;

    font-size: 1rem;
    font-weight: bold;

    cursor: pointer;

    transition: all 0.3s ease;

    z-index: 1000;
}

.voltar:hover{
    background:rgb(151, 33, 24);

    transform: translateY(-2px);

    box-shadow: 0 8px 20px rgba(151, 33, 24, 0.35);
}

body{
    background:rgb(34, 34, 34);
    font-family:Arial;
}

h1{
    text-align:center;
    color:rgb(151, 33, 24);
    margin:30px;
}

.catalogo{

    display:flex;
    gap:25px;

    flex-wrap:wrap;

    justify-content:center;
}

.filme{

    width:200px;

    cursor:pointer;

    transition:.3s;
}

.filme img{

    width:100%;
    border-radius:15px;
}

.filme:hover{

    transform:scale(1.08);

    filter:drop-shadow(0 0 10px rgba(0,0,0,.3));
}

.filme p{

    text-align:center;
    margin-top:10px;
    color: rgb(217, 217, 217);
}

.modal{

    display:none;

    position:fixed;

    inset:0;

    background:rgba(0,0,0,.7);

    justify-content:center;
    align-items:center;
}

.modal-content{

    background:rgb(217, 217, 217);

    width:800px;

    max-width:90%;

    border-radius:20px;

    padding:30px;

    display:flex;
    gap:30px;
}

.modal-content img{

    width:250px;
}

#fechar{

    position:absolute;

    font-size:40px;

    cursor:pointer;
}