.voltar{
    position: fixed;
    top: 20px;
    left: 20px;

    background: rgb(151, 33, 24);
    color: rgb(217,  217, 217);

    border: none;
    border-radius: 15px;

    padding: 12px 20px;

    font-size: 1rem;
    font-weight: bold;

    cursor: pointer;

    transition: all 0.3s ease;

    z-index: 1000;
}

.voltar:hover{
    background: rgb(151, 33, 24);

    transform: translateY(-2px);

    box-shadow: 0 8px 20px rgba(151, 33, 24, 0.35);
}

body{
    background-color: rgb(34, 34, 34);
    font-family: Arial;
}

h1{
    text-align:center;
    color:rgb(151, 33, 24);
    margin:30px;
}

.catalogo{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:25px;
}

.lugar{
    width:250px;

    transition:0.3s;

    cursor:default;
}

.lugar iframe{
    width:100%;
    height:220px;

    border:none;

    border-radius:15px;

    pointer-events:none;
}

.lugar p{
    text-align:center;

    margin-top:10px;

    color:rgb(217,  217, 217);

    font-weight:bold;
}

.lugar:hover{

    transform:
        scale(1.08)
        translateY(-8px);

    box-shadow:
        0 15px 30px rgba(151, 33, 24, 0.25);
}

.catalogo{
    display:flex;
    justify-content:center;
    gap:25px;
    flex-wrap:wrap;
    margin-top:40px;
}

.lugar{
    width:350px;

    transition:.3s;
}

.lugar iframe{
    width:100%;
    height:220px;

    border:none;
    border-radius:20px;

    pointer-events:none;
}

.lugar:hover{
    transform:scale(1.05);

    box-shadow:0 10px 25px rgba(151,33, 24,.3);
}

.lugar p{
    text-align:center;
    margin-top:10px;

    font-size:1.1rem;
    font-weight:bold;
    color: rgb(151, 33, 24);
}

.frase-final{
    text-align:center;

    margin:30px auto 15px;

    color:rgb(217,  217, 217);

    font-size:1.1rem;

    font-style:italic;

    font-weight:600;

    max-width:600px;
}