*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: rgb(34, 34, 34);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    text-align: center;
}

.imagem{
    width: 250px;
    margin-bottom: 20px;
}

h1{
    margin-bottom: 25px;
    color: rgb(151, 33, 24);
}

.botoes{
    display: flex;
    gap: 20px;
    justify-content: center;
}

button{
    padding: 12px 25px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
    transition: 0.3s;
}

#sim{
    background-color: rgb(151, 33, 24);
    color: rgb(217, 217, 217);
}

#nao{
    background-color: rgb(217, 217, 217);
}

button:hover{
    transform: scale(1.05);
}